.contact {
    border: 5px solid #dedede;
    min-height: 80px;
    background-color: rgba(255, 106, 0, 50%);
    border-radius: 20px;
    padding: 5px;
    margin: 20px 0;
}

    .contact:hover {
        background-color: rgba(255, 106, 0, 100%)
    }

.contact img {
    float: left;
    max-width: 60px;
    width: 100%;
    max-height: 60px;
    height: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.online_img {
    border: 2px solid #00ff21;
}
.offline_img {
    border: 2px solid red;
}