@using System.ComponentModel.DataAnnotations
<div class="contact">
    <img class=@ImageClassName() src=@ImageSrc />
    <strong>@Name</strong>
    <br />
    <span>@LastMessage</span>
</div>

@code {
    [Parameter]
    [Required]
    public string? ImageSrc { get; set; }

    [Parameter]
    [Required]
    public string? Name { get; set; }

    [Parameter]
    [Required]
    public string? LastMessage { get; set; }

    [Parameter]
    public bool IsOnline { get; set; } = false;

    public string ImageClassName() => IsOnline ? "online_img" : "offline_img";
}