@page "/"
@attribute [Authorize]
@using RemoteMessenger.Client.Services
@inject AuthenticationStateProvider AuthenticationStateProvider
<PageTitle>Index</PageTitle>

<h1>hey!</h1>

<AuthorizeView>
    <NotAuthorized>
        <span> Not authorized </span>
    </NotAuthorized>
    <Authorized>
        @foreach (var claim in context.User.Claims)
        {
            <span> @claim.Type: @claim.Value</span><br/>
        }
    </Authorized>
</AuthorizeView>